body{
    background-color: rgb(40, 54, 73);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.text-outer {
    
    margin-top: 350px;
    margin-left: 100px;
    
}
h1{
    font-size: 45px;
    
}
.text-inner{
    position: absolute;
    height: 55px;
    display: inline-block;
    overflow: hidden;
    font-size: 43.5px;
    
}
.text-inner span {
    animation: animate 8s ;
    animation-iteration-count: infinite;
    animation-delay: unset;
    animation-timing-function:ease;
    position: relative;
    color: rgb(0, 247, 214);
}
@keyframes animate {
    0%{top: 0}
    20%{top: 0}
    25%{top: -50px}
    45%{top: -50px}
    50%{top: -100px}
    70%{top: -100px}
    100%{top: 0}

}

.barcket{
    margin-left: 20%;
    animation: bar-animate 3s;
    animation-iteration-count: infinite;
    position: relative;
}
.barcket1{
    margin-right: 2%;
    margin-left: 29%;
    animation: bar-animate 3s;
    animation-iteration-count: infinite;
    position: relative;
    color: rgb(64, 134, 146);
}
@keyframes  bar-animate {
    10%   {color: rgb(0, 255, 174);}
    25%  {color: rgb(255, 255, 255);}
    50%  {color: rgba(0, 255, 183, 0.736);}
    100% {color: rgb(255, 255, 255);}
}
